[submodule "zsh"]
	path = zsh
	url = https://github.com/Kou-Ro/zsh
[submodule "nvim"]
	path = nvim
	url = https://github.com/Kou-Ro/nvim
[submodule "TeX"]
	path = TeX
	url = https://github.com/Kou-Ro/TeX.git
